@import "tailwindcss";

@theme {
  --color-loja-terracotta: #E07A5F;
  --color-loja-beige: #F4F1EA;
  --color-loja-blue: #2563EB;
  --color-loja-green: #81B29A;
  --color-loja-dark: #3D405B;
}

:root {
  --background: #F4F1EA; /* Default to beige */
  --foreground: #3D405B;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}